<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="jumbotron">
        <h1>Welcome to your dashbord</h1>
        
        {% if hide_me == True %}
        <p>Your next scrape is in {{next_scrape}} hours.</p>

        {% else %}
        <form method="POST" action="{% url 'scrape' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Get my morning news</button>
        </form>

         {% endif %} 
    </div>

    <div class="container">

        <div class="row">
            <div class = "col-sm-3 text-center">
            {% for object in object_list%}
                <div class="card text-center" style="width:100%;">
                    <div class="card-body">
                        <img class="card-img-top" src="{{object.image}}">
                        <h5 class = "card-title"><a href="{{object.url}}">{{object.title}}</a></h5>
                    </div>
            
                </div>
            {%endfor%}
            </div>
        </div>
    </div>
</body>
</html>